@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 25px;
  font-family: "Poppins";
  border: 0px;
  border-radius: 5px;
  font-weight: 500;
  background-color: black;
  color:white
}